<div class="table-responsive">
  <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped" id="dataTables-cliente">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Rua</th>
        <th>Numero</th>
        <th>Cep</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of data">
        <th>{{x.id}}</th>
        <td>{{x.nome}}</td>
        <td>{{x.cpf | CpfCnpj }}</td>
        <td>{{x.rua}}</td>
        <td>{{x.numero}}</td>
        <td>{{x.cep}}</td>
        <td>{{x.estado}}</td>
      </tr>
    </tbody>
  </table>
</div>
